{{#this}}
    <div data-{{namespace}}widget="dialog" class="{{namespace}}dialog {{namespace}}dialog-hidden">
         <div class="{{namespace}}dialog-header"> 标题 </div>
      	 <div class="{{namespace}}dialog-body"> 内容 </div>
      	 <div class="{{namespace}}dialog-footer">
         	<a href="javascript:void(0);" class="{{namespace}}dialog-cancel">取消</a>
        	<a href="javascript:void(0);" class="{{namespace}}dialog-done">确认</a>
      	 </div>
     </div>
{{/this}}

