{{#this}}
    <div data-{{namespace}}widget="counter" class="{{namespace}}counter">
        <div class="{{namespace}}counter-minus">-</div>
        <input class="{{namespace}}counter-input" type="text">
        <div class="{{namespace}}counter-plus">+</div>
    </div>
{{/this}}
