{{#this}}
<div data-{{namespace}}widget="panel" class="{{namespace}}panel {{namespace}}panel-border">
	<div class="{{namespace}}panel-header">
		长途汽车:
	</div>
	<div class="{{namespace}}panel-body">
		成都新南门车站——峨眉山客运中心（峨眉山市票价43元/人），30分钟一班。
		旅游专线：乐山客运中心站——峨眉山市乐山港——峨眉山报国寺乐山客运中心站——沙湾乐山港
	</div>
	<div class="{{namespace}}panel-footer {{namespace}}center">
		加载更多
	</div>
</div>
{{/this}}

